<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<body>
<div>
    <form method="post" action="/add">
        <input type="text" name="text" placeholder="Enter name"/>
        <input type="text" name="tag" placeholder="Enter tag"/>
        <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
        <input type="submit" value="add"/>
    </form>
    <form method="post" action="filter">
        <input type="text" name="tag" placeholder="Enter tag">
        <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
        <input type="submit" value="filter"/>
    </form>
</div>
    <div>List of messages</div>
    {{#messages}}
        <div>
        <p>{{id}} {{text}} {{tag}}</p>
        </div>
    {{/messages}}

</body>
</html>